
.base-button {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}


.fancy-button {
  background-color: blue;
  color: white;
  
}

.fancy-button:hover {background-color: darkblue;}

.primary-button {
  background-color: red;
  color: white;
  
}
